.App {
  text-align: center;
  width: 500px;
  margin-left: 20%;
}

.App-header {
  display: flex;
  background-color: rgb(98, 3, 0);
  padding: 15px;
  color: white;
}

.App-footer{
  background-color: rgb(98, 3, 0);
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}



/*nav bar*/
.navBar{
  position: absolute;
  z-index: 5;
  width: 10%;
  height: 450px;
  background-color: grey;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  animation-duration: 1s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 0%;
  }

  to {
    margin-right: 0%;
    width: 10%;
  }
}

@keyframes slideout {

}

.navBarButton{
  position: absolute;
  z-index: 5;
  margin: 0px;
}

.navBarBars{
  font-size:2em;
  line-height: 4px;
}

/*main body*/
.main{
  display: flex;
}

/*map*/
.mapStyle{
  display: flex;
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
}

/*event form styles*/
.eventForm{
  background-color: white;
  position: absolute;
  z-index: 5;
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
}
