.App {
  text-align: center;
  width: 500px;
  margin-left: 20%;
}

.App-header {
  display: flex;
  background-color: rgb(98, 3, 0);
  padding: 15px;
  color: white;
}

.App-footer{
  background-color: rgb(98, 3, 0);
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

/*map*/
.mapStyle{
  display: flex;
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
}

/*nav bar*/
.navBar{
  position: absolute;
  z-index: 5;
  background-color: grey;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.navBarButton{
  position: absolute;
  z-index: 5;
  margin: 0px;
}

.navBarBars{
  font-size:2em;
  line-height: 4px;
}

/*event form styles*/

/*main body*/
.main{
  display: flex;
}

.eventForm{
  background-color: white;
  position: relative;
  z-index: 5;
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
}
