.App {
  text-align: center;
  width: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  background-color: rgb(98, 3, 0);
  padding: 15px;
  color: white;
}

.App-footer{
  display: flex;
  background-color: rgb(98, 3, 0);
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*event form styles*/

.eventForm{
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
}
